.dashboard-wrapper{
    display: flex;
}
.item-list{
    background-color: #111927 ;
    border-color: grey;
    padding: 16px 12px !important;
}
.redirect-link{
    padding: 12px 24px;
}
.redirect-link:hover{
    background-color: #111927 ;
}
.item-text-active{
    background-color: rgba(255, 255, 255, 0.08) !important;
    border-radius: 8px !important;
}
.item-icon-active{
    color: #6366F1;
}
.item-list-icon{
    min-width: 45px !important
}
.item-text span{
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    white-space: nowrap;
}
.item-icon{
    color: #9DA4AE;
}